<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = "background-color: #000000">
    
    <h1 style="color:#0000FF">Calculator</h1>
    <hr style="color:#0000FF">  
    <br>
    {% block content %}{% endblock %}
</body>


<footer style = "margin-top: 450px;">
    <hr>
    <ul> 
    <br>
    <li style="color:aquamarine">Phone:+5404554050</li>
    <li style="color:aquamarine">Addres:adhahd hi hidhidh </li>
    <li style="color:aquamarine">Email: askasjdakj@gmail.com</li>
    </ul>
</footer>
</html>
