<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1> Factorial</h1>
</head>
<body style="background-color:#0dec3d">
    
    <form method="POST" action="fact/">
        {% csrf_token %}
        <input type="text" name="n">
        <button type="submit">Factorial</button>
     
    </form>
    <a href="{% url 'math' %}"><button> Go Math </button></a>
    <a href="{% url 'calculator' %}"><button> Go Calculator </button></a>
    <a href="{% url 'factorial' %}"><button> Go factorial </button></a>
    <a href="{% url 'fibonacci' %}"><button> Go fibonacci </button></a>


</html>