<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Fibonacci</h1>
</head>
<body>
    <h1>result = {{ res }}</h1>
    <a href="{% url 'math' %}"><button> Go Math </button></a>
    <a href="{% url 'fibonacci' %}"><button> Go Back </button></a>
    <a href="{% url 'calculator' %}"><button> Go calculator </button></a>
    <a href="{% url 'factorial' %}"><button> Go factorial </button></a>
</body>
</html>