<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>MATH</h1>
</head>
<body style = "background-color:#6ED9E1">
    <hr>
    <br>
    <a href="{% url 'calculator' %}"><Button style="color:rgb(44, 90, 241)"> Calculator</Button></a>
    <a href="{% url 'factorial' %}"><Button > Factorial</Button></a>
    <a href="{% url 'fibonacci' %}"><Button > Fibonacci</Button></a>
    <a href="{% url 'bin_10' %}"><Button > Bin to 10</Button></a>
    <br>
    <br>
    <hr>
</body>
</html>